In [ ]:
l = input()
for i in range(len(l)):
  print(l[i], end=" ")

karthikeylhadlfhaljdhfhdv
k a r t h i k e y l h a d l f h a l j d h f h d v

In [ ]:
str_input = input()
str_length = len(str_input)- 1
str_length
for i in range(str_length):
   if i != len(str_input):
      print(str_input[i], end=",")
print(str_input[str_length])

karthik
k,a,r,t,h,i,k

In [ ]:
int_Value = int(input())
str_Space = " "
print(str(int_Value*1)+str_Space+str(int_Value*2)+str_Space+str(int_Value*3))

52
52 104 156

In [ ]:
float_Radius = float(input())
float_Radius
if float_Radius< 0:
    print("Error")
else:
    PI = 3.1415
    x= 2*PI*float_Radius
    print(round(x,2))

2
12.57

In [ ]:
month = int(input())
if  month == 2:
  print("28")
elif month >=1 and month <=12:
 # print("valid month")
  if month == 1 or month == 3 or month == 5 or month == 7  or month == 8 or month == 10 or month == 12:
    print("31")
  else:
    print("30")
else:
  print("not valid month")

5
valid month
31

In [ ]:
input = int(input())

for i in range(5):
    print(input)

5
0
1
2
3
4

In [ ]:
num = int(input())
factorial = 1    
if num < 0:    
   print("negative numbers")    
elif num == 0:    
   print("The factorial of 0 is 1")    
else:    
   for i in range(1,num + 1):    
       factorial = factorial*i    
   print("The factorial of "+ str(num) +"is " +str(factorial))

TypeError: ignored

In [ ]:
inputVal = input()
listVal = inputVal.split()
for i in range(len(listVal)):
  print(listVal[i])

TypeError: ignored

In [ ]:
inputVal = input()
listVal = inputVal.split()
for i in range(len(listVal)):
  print(listVal[i])

In [ ]:
emp_data = {23:"ajay",45:"partiban",78:"sukumar"}
print(emp_data)
print(emp_data[23])
print(emp_data.keys())
print(list(emp_data.values()).index("sukumar"))
print(list(emp_data.keys())[list(emp_data.values()).index("sukumar")])
print(list(emp_data.values()))



#print(list(emp_data.keys())[list(emp_data.values()).index(112)])

{23: 'ajay', 45: 'partiban', 78: 'sukumar'}
ajay
dict_keys([23, 45, 78])
2
78
['ajay', 'partiban', 'sukumar']